body{
    font-family: 'Quicksand', sans-serif;
    background-color:rgb(236, 191, 234);
}
h1{
    text-align: center;
    font-weight: bolder;
  }

#output{
    width: 600px;
    height: 100px;
  }
  
  .bg-image{
    background-image: url('../images/showcase.jpg');
    padding: 70px;
    background-size: auto;
    opacity: 1.0;
  }
  h3{
    text-align: left;
  }
  h2{
    text-align: center;
  }
  textarea{
    margin-top: 10px;
  }
  
  footer{
    padding: 2%;
    border: 1px solid rgb(238, 6, 6);
    border-style: dotted;
    border-width: 0.1rem;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: double;
    float: center;
    margin-left: 5%;
    margin-right: 5%;
}

.pfooter{
    float: center;
    width: 100%;
    text-align: center;
    width: 100%;
    margin: 1%; 
    border-style: dotted;
    border-width: 0.1rem;
    color: red;
}

.navfooter{
    float: center;
    text-align: center;
    width: 100%; 
    margin: 1%;
    padding: 2%;
}

a{
    text-align:center;
    color:black;
}

.form {
    font-weight: 600;
    font-style: normal;

}
  
.copyright{
    float: center;
    text-align: center;
    width: 100%;
    
}

