h1{
    text-align: right;
    font-family: fantasy;
    font-weight: bold;
  }

  #output{
    width: 400px;
    height: 200px;
  }
  
  .bg-image{
    background-image: url('../images/showcase.jpg');
    padding: 70px;
    background-size: auto;
    opacity: 5.0;
  }
  h3{
    text-align: left;
  }
  h2{
    text-align: center;
  }
  textarea{
    margin-top: 10px;
  }
  
  footer{
    padding: 5%;
    border: 1px solid rgb(238, 6, 6);
    border-style: dotted;
    border-width: 0.1rem;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: hidden;
}

.pfooter{
    float: left;
    width: 100%;
    text-align: center;
    width: 100%;
    margin: 2%; 
    border-style: dotted;
    border-width: 0.1rem;
    color: red;
}

.navfooter{
    float: left;
    text-align: center;
    width: 100%; 
    margin: 2%;
    padding: 2%;
}

  