h1{
    text-align: center;
    margin-top: 2%;
}

body { 
    font-family: 'Josefin Slab', serif;
    margin-top: 2%;
    font-size: 20px;
    }

h2{
      color: rgb(235, 10, 10);  
    }

.container{
    background-image: url("../images/showcase.jpg");
    margin-top: 40px;
}
.birthdate{
    float: left;
    width: 100%;
}

p{ 
    font-weight: 600;
}